@import '../../color.scss';

section.popular {
    width: 80%;
    margin: 0 auto;

    .popular__title {
        text-align: center;
        margin-block: 2.5rem;

        .popular__heading {
            font-size: 2rem;
            line-height: 1.5;
        }

        .popular__description {
            margin-block: 1rem;
            font-size: 1rem;
            line-height: 1.5;
        }

        .btn__view {
            background-color: $cream-color;
            border: none;
            border-radius: 0.75rem;
            font-size: 1rem;
            padding: 1rem 2rem;
            font-weight: 700;

            &:hover {
                color: $white-color;
                cursor: pointer;
                transition: color 0.1s ease-in;
            }
        }
    }

    .popular__lists {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    
        .popular__item .card {
            height: 360px;
            width: 100%;
            box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
                0 5px 15px rgba(0, 0, 0, 0.06);
            transition: all 0.15s ease;
            border-radius: 1.5rem;
            display: flex;
            flex-direction: column;
            position: relative;
    
            .card__bg img {
                height: 360px;
                width: 100%;
                object-fit: cover;
                border-radius: 1.5rem;
            }
    
            .card__content {
                width: 100%;
                padding: 1rem;
                background-color: $white-color;
                position: absolute;
                bottom: 10%;
                left: 0;
                border-radius: 1.2rem;
                text-align: left;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
    
                .fa-star,
                .rating-star {
                    color: $yellow-color;
                }
    
                .card__title {
                    color: $black-color;
                    margin: 0.5rem 0;
                    font-size: 1rem;
                }
    
                .fa-map-marker-alt,
                .location {
                    color: #0c1e29;
                }
    
                .btn__detail {
                    background-color: $cream-color;
                    border: none;
                    border-radius: 0.75rem;
                    font-size: 1rem;
                    display: inline-block;
                    min-width: 3rem;
                    min-height: 3rem;
                    text-decoration: none;
                    color: $black-color;
                    text-align: center;
                    line-height: 3rem;
    
                    &:hover {
                        color: $white-color;
                        cursor: pointer;
                        transition: color 0.1s ease-in;
                    }
                }
            }
    
            &:hover {
                box-shadow: 0 18px 35px 0 rgba(42, 51, 83, 0.12),
                0 8px 15px rgba(0, 0, 0, 0.06);
                transform: translateY(-4px);
            }
        }
    }
}